extends index.pug
block content
  - let dateTime = new Date(caseRecord.time).toLocaleDateString() + " " + new Date(caseRecord.time).toLocaleTimeString();
  .section-hdg.section-hdg-1.layout-row
    a(href="/cases/")
      i.material-icons assignment
    i.material-icons keyboard_arrow_left
    div Case Detail
  .section-hdg.section-hdg-2 Case: #{caseRecord.id}
  .section-hdg.section-hdg-3 Date/Time: #{dateTime}
  .section-hdg.section-hdg-3 Owner: #{caseRecord.owner}
  .section-hdg.section-hdg-3 Parts Checked-Out: #{parts.length}
  ul.itemlist
    each part in parts
      li.layout-col
        .partmake.itemdetail.layout-col
          .label Manufacturer:
          .data #{part.make}
        .partnum.itemdetail.layout-col
          .label.nobreak Part Num:
          .data #{part.partnum}
        .partdescription.itemdetail.layout-col
          .label Description:
          .data #{part.description}
        .partused.itemdetail.layout-col
          .label Checked-Out:
          .data #{part.used}
        - let cases = part.cases;
        #caselist.layout-col.layout-justify-between.layout-width-1-1
          each c in cases
            .itemdetail.caseitem.layout-width-1-1
              if caseId==c
                a.btn.normal.layout-size-x1.buttonpartcheckin(href="/part/checkin/" + part.id + "/case/" + c) 
                  i.material-icons archive
                  span Check In
              else
                a.btn.secondary.layout-size-x1(href="/case/" + c) 
                  i.material-icons assignment
                  span #{c}
          