extends index.pug

block content
  .section-hdg.section-hdg-1 Case Detail #{caseId}
  .section-hdg.section-hdg-3 Parts Checked-Out: #{parts.length}
  ul.itemlist
    each part in parts
      li.layout-col
        .partmake.itemdetail.layout-col
            .label Manufacturer:
            .data #{part.make}
        .partnum.itemdetail.layout-col
          .label.nobreak Part Num:
          .data #{part.partnum}
        .partdescription.itemdetail.layout-col
          .label Description:
          .data #{part.description}
        .partused.itemdetail.layout-col
          .label Checked-Out:
          .data #{part.used}
        - let cases = part.cases;
        #caselist.layout-col.layout-justify-between.layout-width-1-1
          each c in cases
            .itemdetail.caseitem.layout-width-1-1
              if caseId==c
                a.btn.btn-small.btn-cancel.layout-size-x1.buttonpartcheckin(href="/part/checkin/" + part.id + "/case/" + c) Check In
              else
                a.btn.btn-small.btn-normal.layout-size-x1(href="/case/" + c) #{c}
          