extends index.pug

block content
  .layout-col
    form(action="/part/checkoutverified" method="post")
      input(type="hidden" name="partid" id="partid" value=part.id)
      #prompt Confirm check-out of part #{part.id}
      .layout-col
        .layout-row #{part.make}
        .layout-row #{part.description}
        .layout-row #{part.partnum}
        .layout-row
          input(type="text" name="caseid" id="caseid" placeholder="Case #" value=caseId)
        .layout-row
          input.buttonconfirm(type="submit" id="submit" value="Confirm")
          a.buttoncancel(href="/part/" + part.id) Cancel