extends index.pug

block content
  div.layout-col
    .part-listing.layout-col
      form(action="/part/edit" method="post")
        input(id="partid" type="hidden" name="partid" value=part.id)
        .partnum.itemdetail.layout-col
          label.label(for="partnum") Part Number: 
          .data
            input#partnum(type="text" name="partnum" placeholder="part number" value=part.partnum required)
        .partdescription.itemdetail.layout-col
          label.label(for="description") Description: 
          .data
            input#description(type="text" name="description" placeholder="description" value=part.description)
        .partmake.itemdetail.layout-col
          label.label(for="make") Make: 
          .data
            input#make(type="text" name="make" placeholder="manufacturer" value=part.make)
        .partcount.itemdetail.layout-col
          label.label(for="count") Stock Level: 
          .data
            input#count(type="number" name="count" value=part.count)
        .partsubmit.itemdetail.layout-col
          label.label Actions:
          .data.layout-row
            input.btn.btn-primary.buttonconfirm(type="submit" id="submit" value="Confirm")
            a.btn.btn-cancel(href="/part/" + part.id) Cancel              
