extends index.pug

block content
  .layout-col
    .section-hdg.section-hdg-1 Edit Case
    .layout-row.layout-width-1-1
      .part-listing.layout-col.layout-width-1-1.layout-sd-width-5-8.layout-lg-width-5-8.layout-xl-width-4-8
        form(action="/case/edit" method="post")
          input(id="caseid" type="hidden" name="caseid" value=caseRecord.id)
          .itemdetail.layout-col
            label.label Case: 
            .data
              div #{caseRecord.id}
          .itemdetail.layout-col
            - let dateTime = new Date(caseRecord.time).toLocaleDateString() + " " + new Date(caseRecord.time).toLocaleTimeString();
            label.label(for="datetimeselect") Date/Time: 
            .data
              input#datetime(type="hidden" name="datetime" value=caseRecord.time)
              input#datetimeselect(type="text" name="time" placeholder="Date Time" oninput='calculatedatetimestring(this.value)' value=dateTime required)
          .itemdetail.layout-col
            label.label(for="owner") Owner: 
            .data
              input#owner(type="text" name="owner" placeholder="owner" value=caseRecord.owner)
          .itemdetail.layout-col
            label.label(for="notes") Notes: 
            .data
              textarea#notes(name="notes" placeholder="notes" rows="5" maxlength="255") #{caseRecord.notes}
          .partsubmit.itemdetail.layout-col
            label.label Actions:
            .data.layout-row
              input.btn.primary.buttonconfirm(type="submit" id="submit" value="Confirm")
              a.btn.cancel(href="/case/" + caseRecord.id) Cancel              
      .description.layout-col.layout-xs-hidden.layout-sm-hidden.layout-md-hidden.layout-sd-width-3-8.layout-lg-width-3-8.layout-xl-width-4-8
        .infotext.section-hdg.section-hdg-3 Edit Case View
        .infotext You can certain details of cases with this view.
        .infotext Modify the details for the case.
        .infotext.section-hdg.section-hdg-3 Date/Time
        .infotext Enter the date and time for the case. This is generally the time that the case was opened however you might enter the date that the case was modified.
        .infotext.important This is a required field.
        .infotext.section-hdg.section-hdg-3 Owner
        .infotext Enter the username for the user who 'owns' the case.
        .infotext.important This is a required field.
        .infotext.section-hdg.section-hdg-3 Notes
        .infotext Enter any relevant notes attached to the case. The notes field is searchable.
      
