extends index.pug

block content
  .layout-col
    .section-hdg.section-hdg-1 Edit Part
    .layout-row.layout-width-1-1
      .part-listing.layout-col.layout-width-1-1.layout-sd-width-5-8.layout-lg-width-5-8.layout-xl-width-4-8
        form(action="/part/edit" method="post")
          input(id="partid" type="hidden" name="partid" value=part.id)
          .partmake.itemdetail.layout-col
            label.label(for="make") Make: 
            .data
              input#make(type="text" name="make" placeholder="manufacturer" value=part.make)
          .partnum.itemdetail.layout-col
            label.label(for="partnum") Part Number: 
            .data
              input#partnum(type="text" name="partnum" placeholder="part number" value=part.partnum required autofocus)
          .partaltnum.itemdetail.layout-col
            label.label(for="partaltnum") Alternate Part Number: 
            .data
              input#partaltnum(type="text" name="partaltnum" placeholder="alternate part number" value=part.partaltnum)
          .partdescription.itemdetail.layout-col
            label.label(for="description") Description: 
            .data
              input#description(type="text" name="description" placeholder="description" value=part.description)
          .partwarranty.itemdetail.layout-col
            label.label(for="inwarranty") In-Warranty: 
            #warrantycheck.data
              if part.inwarranty
                input#inwarranty.hidden(type="checkbox" name="inwarranty" checked)
              else
                input#inwarranty.hidden(type="checkbox" name="inwarranty")
              label.material-icons.warrantyyes.checkbox(for="inwarranty") check_box
              label.material-icons.warrantyno.checkbox(for="inwarranty") check_box_outline_blank
          .partcount.itemdetail.layout-col
            label.label(for="count") Stock Level: 
            .data
              input#count(type="number" name="count" value=part.count)
          .partmincount.itemdetail.layout-col
            label.label(for="count") Minimum Stock Level: 
            .data
              input#mincount(type="number" name="mincount" placeholder="minimum amount of parts" value=part.mincount)
              //- input.btn.primary.buttontoggle(type="button" id="mincountminus1" value="-")
              //- input.btn.primary.buttontoggle(type="button" id="mincountplus1" value="+")
          .partsubmit.itemdetail.layout-col
            label.label Actions:
            .data.layout-row
              input.btn.primary.buttonconfirm(type="submit" id="submit" value="Confirm")
              a.btn.cancel(href="/part/" + part.id) Cancel              
      .description.layout-col.layout-xs-hidden.layout-sm-hidden.layout-md-hidden.layout-sd-width-3-8.layout-lg-width-3-8.layout-xl-width-4-8
        .infotext.section-hdg.section-hdg-3 Edit Part View
        .infotext You can edit you part with this view.
        .infotext Modify the details for the part that you would like to add.
        .infotext.section-hdg.section-hdg-3 Manufacturer
        .infotext Enter the manufacturer's name here. This should be the manufacturer for wich the part should be used.
        .infotext.example.layout-col 
          .infotext.heading Examples:
          .infotext Acer
          .infotext Lenovo
          .infotext HP
        .infotext.important This is a required field.
        .infotext.section-hdg.section-hdg-3 Part Number
        .infotext Enter the ID, serial-number or part-number here.
        .infotext.example.layout-col 
          .infotext.heading Examples:
          .infotext 6M.G55N7.001
        .infotext As noted above - try to match the 'case' and layout that the manufacturer uses. Use the punctuation, dashes, spaces, etc that your manufacturer's software would recognize.
        .infotext.important This is a required field.
        .infotext.section-hdg.section-hdg-3 Alternate Part Number
        .infotext Some parts have an alternate, completely-compatible part available for repaired units. The manufacturer may send the alternate part when the primary part number has been requested. Enter the alternate ID, serial-number or part-number here.
        .infotext.section-hdg.section-hdg-3 Description
        .infotext Enter a helpful description here.
        .infotext SUGGESTION: if you have more data that you would like to use (for search or identification) you might try using dashes or some othe delimiter to separate 'fields' within this Description field.
        .infotext.example.layout-col 
          .infotext.heading Examples:
          .infotext R11 - C738T - LCD LED touch panel w/ bezel 11.6
        .infotext Notice (above) that the 'model name', 'model number', and text description of this part is included in one field by delimiting them with a dash(-).
        .infotext Decide on a standard and try to stick with it.
        .infotext.important This is a required field.
        .infotext.section-hdg.section-hdg-3 In-Warranty Part
        .infotext Parts that are designated for 'in-warranty' repairs should be checked.
        .infotext Parts that are designated for 'out-of-warranty' repairs should be un-checked.
        .infotext.section-hdg.section-hdg-3 Stock Level
        .infotext Enter the desired total amount of parts that should be in stock.
        .infotext.section-hdg.section-hdg-3 Minimum Stock Level
        .infotext Enter the desired minimum amount of stock parts below which stockr send notifications