extends index.pug

block content
  //- .section-hdg.section-hdg-1 Parts (#{parts.length})
  - let userName = account || null;
  if(!account)
    .section-hdg.section-hdg-1 Dashboard
  else
    - userName = userName[0].toUpperCase() + userName.slice(1);
    .section-hdg.section-hdg-1 #{userName}'s Dashboard
  .infotext Hi #{userName}!
  if(yourCases)
    .infotext Here is a list of all of the cases that you own. There are #{cases.length} of them:
    .item-listing.layout-row
      .itemsidebar.layout-col.layout-width-1-8.layout-align-center
        i.material-icons.item-icon face
      .itemcontent.layout-col.layout-width-7-8
        each item in yourCases
          - let targetLoc = "/case/" + item.id;
          - let dateTime = new Date(item.time).toLocaleDateString() + " " + new Date(item.time).toLocaleTimeString();
          - let ageMs = Date.now()-parseInt(item.time);
          - let ageDays = Math.round((ageMs/(1000*60*60*24)));
          .item.layout-width-1-1.layout-col.clickable(onclick="goTo('" + targetLoc + "')")
            .itemhead Case: #{item.id}
            .layout-row
              .itemdetail.layout-width-1-2.layout-col
                .label Days Old:
                .data #{ageDays}
              .itemdetail.layout-width-1-2.layout-col
                .label Create Date/Time:
                .data #{dateTime}
    .infotext.
      To see other cases #[a(href="cases/") click here] or use the menu above.
  .infotext Here is a list of the #{oldestCases.length} oldest opened cases. The cases that have already been closed do not appear on this list.
  .item-listing.layout-row
    .itemsidebar.layout-col.layout-width-1-8.layout-align-center
      i.material-icons.item-icon alarm
    .itemcontent.layout-col.layout-width-7-8
      each item in oldestCases
        - let targetLoc = "/case/" + item.id;
        - let dateTime = new Date(item.time).toLocaleDateString() + " " + new Date(item.time).toLocaleTimeString();
        - let ageMs = Date.now()-parseInt(item.time);
        - let ageDays = Math.round((ageMs/(1000*60*60*24)));
        .item.layout-width-1-1.layout-col.clickable(onclick="goTo('" + targetLoc + "')")
          .itemhead Case: #{item.id}
          .layout-row
            .itemdetail.layout-width-1-2.layout-col
              .label Days Old:
              .data #{ageDays}
            .itemdetail.layout-width-1-2.layout-col
              .label Owner:
              .data #{item.owner}
