extends index.pug

block content
  .layout-col
    .section-hdg.section-hdg-1.layout-row
      a(href="/parts/")
        i.material-icons devices
      i.material-icons keyboard_arrow_left
      div Part Detail
    .part-listing.layout-col
      //- .section-hdg.section-hdg-3 Info:
      .partmake.itemdetail.layout-col
          .label Manufacturer:
          .data #{part.make}
      .partnum.itemdetail.layout-col
        .label.nobreak Part Num:
        .data #{part.partnum}
      .partdescription.itemdetail.layout-col
        .label Description:
        .data #{part.description}
      div
        a.btn.secondary.layout-size-x1.buttonpartedit(href="/part/edit/" + part.id)
          i.material-icons mode_edit
          span Edit Part
      .stock-control.layout-col
        .section-hdg.section-hdg-3 Current Stock: #{part.free} out of #{part.count}
        .itemdetail.partfree.layout-col
          .label Available:
          .data #{part.free}
        .itemdetail.partfree
          if part.free
            //-div.checkoutpart
            .layout-width-1-1
              a.btn.normal.layout-size-x1.buttonpartcheckout(href="/part/checkout/" + part.id)
                //- i.material-icons remove_circle_outline
                i.material-icons unarchive
                span Check Out
        .itemdetail.partused.layout-col
          .label Checked-Out:
          .data #{part.used}
          - let cases = part.cases;
        #caselist.layout-col.layout-justify-between.layout-width-1-1
          each c in cases
            .itemdetail.caseitem.layout-width-1-1
              a.btn.normal.layout-size-x1.buttonpartcheckin(href="/part/checkin/" + part.id + "/case/" + c) 
                //- i.material-icons add_circle_outline
                i.material-icons archive
                span Check In
              a.btn.secondary.layout-row.layout-align-center(href="/case/" + c) 
                i.material-icons assignment
                span #{c}
      .part-qrcode.layout-col
        .section-hdg.section-hdg-3 QR Code:
        .qrcode.layout-col.layout-align-center
          #qrcode-box.layout-col(style="width:100px; height:100px;")
          .qrcode-url.layout-col
            - let url = appUrl + "/part/" + part.id;
            #qrcode-url #{url}
        .qrcode-controls.layout-col
          a#qrcode-print.btn.secondary.layout-size-x1(href="/part/print/" + part.id)
            i.material-icons print
            span Print Code

block scripts
  script(src='/js/qrcode.min.js')
