extends index.pug

block content
  .layout-col
    .section-hdg.section-hdg-1 Part Detail
    .part-listing.layout-col
      .section-hdg.section-hdg-3 Info:
      .partmake.itemdetail
          .label Manufacturer:
          .data #{part.make}
      .partnum.layout-row.itemdetail
        .label.nobreak Part Num:
        .data #{part.partnum}
      .partdescription.itemdetail
        .label Description:
        .data #{part.description}
      div
        a.btn.btn-small.btn-primary.layout-size-x1.buttonpartedit(href="/part/edit/" + part.id) Edit Part
      .stock-control.layout-col
        .section-hdg.section-hdg-3 Current Stock: #{part.free} out of #{part.count}
        .itemdetail.partfree.layout-row
          .label Available:
          .data #{part.free}
        .itemdetail.partfree.layout-col
          if part.free
            //-div.checkoutpart
            .layout-width-1-1
              a.btn.btn-small.btn-normal.layout-size-x1.buttonpartcheckout(href="/part/checkout/" + part.id) Check Out
        .itemdetail.partused.layout-row
          .label Checked-Out:
          .data #{part.used}
          - let cases = part.cases;
        #caselist.layout-col.layout-justify-between.layout-width-1-1
          each c in cases
            .itemdetail.caseitem.layout-width-1-1
              a.btn.btn-small.btn-cancel.layout-size-x1.buttonpartcheckin(href="/part/checkin/" + part.id + "/case/" + c) Check In
              a.btn.btn-small.btn-primary(href="/case/" + c) #{c}
      .part-qrcode.layout-col
        .section-hdg.section-hdg-3 QR Code:
        .qrcode.layout-col.layout-align-center
          #qrcode-box.layout-col(style="width:100px; height:100px;")
          .qrcode-url.layout-col
            - let url = appUrl + "/part/" + part.id;
            #qrcode-url #{url}
        .qrcode-controls.layout-col
          a#qrcode-print.btn.btn-small.btn-primary.layout-size-x1(href="/part/print/" + part.id) Print Code

block scripts
  script(src='/js/qrcode.min.js')
