extends index.pug

block content
  a(href="/parts/add") Add Part
  ul
    li This is the beginning.
    each item in parts
      li
        a(href="/part/" + item.id) #{item.make} #{item.partnum} #{item.description} (#{item.id})
        span Stock level: #{item.count}
    li This is the end.