extends index.pug

block content
  .section-hdg.section-hdg-1 Parts (#{parts.length})
  ul.itemlist
    //- li This is the beginning.
    each part in parts
      - let targetLoc = "/part/" + part.id;
      li.layout-col(onclick="goTo('" + targetLoc + "')")
        .itemhead #{part.make} #{part.description}
        .itemdetail.layout-col
          .label.nobreak Part Num:
          .data #{part.partnum}
        .itemdetail.layout-col
          .label Description:
          .data #{part.description}
    //- li This is the end.
  .layout-row.layout-justify-between
    a.btn.btn-normal(href="/parts/add") Add Part