extends index.pug

block content
  .section-hdg.section-hdg-1.layout-row
    a(href="/users/")
      i.material-icons people_outline
    i.material-icons keyboard_arrow_left
    div User Detail
  .layout-row.layout-width-1-1
    .layout-col.layout-width-1-1.layout-sd-width-5-8.layout-lg-width-5-8.layout-xl-width-4-8
      .itembanner.layout-col
        if user
          .itemhead User: #{user.username}
          .itemdetail.layout-col
            .label Username:
            .data #{user.username}
          - let email = user.email || null
          if email
            .itemdetail.layout-col
              .label Email:
              .data #{user.email}
          if user.roleuser
            .itemdetail.layout-col
              .label User Manager Role:
              .data
                i.material-icons.roleuser people
                .note This user can manage users
          if user.roleparts
            .itemdetail.layout-col
              .label Parts Manager Role:
              .data 
                i.material-icons.roleparts build
                .note This user can manage parts
          //- .itemdetail.layout-col
          //-   .label System User Num:
          //-   .data #{user.id}
          div#user_edit_button_container.authUI(data-fetch="user_edit" data-href="/user/edit/" + user.id)
            //- a.btn.tertiary.layout-size-x1.buttonpartedit(href="/user/edit/" + user.id)
            //-   i.material-icons mode_edit
            //-   span Edit User
      - let casesExist = !!(cases.length>0)
      if casesExist
        ul.itemlist.layout-col
          each item in cases
            - let targetLoc = "/case/" + item.id;
            - let dateTime = new Date(item.time).toLocaleDateString() + " " + new Date(item.time).toLocaleTimeString();
            - let ageMs = Date.now()-parseInt(item.time);
            - let ageDays = Math.round((ageMs/(1000*60*60*24)));
            li.layout-col.clickable(onclick="goTo('" + targetLoc + "')")
              .itemhead Case: #{item.id}
              .layout-row
                .itemdetail.layout-width-3-8.layout-col
                  .label Days Old:
                  .data #{ageDays}
                .itemdetail.layout-width-5-8.layout-col
                  .label Create Date/Time:
                  .data #{dateTime}
    .description.layout-col.layout-xs-hidden.layout-sm-hidden.layout-md-hidden.layout-sd-width-3-8.layout-lg-width-3-8.layout-xl-width-4-8
      .infotext.section-hdg.section-hdg-3 User View
      .infotext Not much here right now.

block scripts
  script(src='/js/laminar.js')
  script(src='/js/authUI.js')